DAGOSTINOBRUNO_EE/DAGOSTINOBRUNOWS/src/wsdl/NSA.local_8080/CourseEJBService/CourseEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://dagostinobrunoserver.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://dagostinobrunoserver.mycompany.com/">

<xs:element name="getAllCoursesbyName" type="tns:getAllCoursesbyName"/>

<xs:element name="getAllCoursesbyNameResponse" type="tns:getAllCoursesbyNameResponse"/>

<xs:complexType name="getAllCoursesbyName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCoursesbyNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:course" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="course">
<xs:sequence>
<xs:element name="cfu" type="xs:int" minOccurs="0"/>
<xs:element name="hours" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="nominativo" type="xs:string" minOccurs="0"/>
<xs:element name="titolare" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="year" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>